.main-navbar, .main-content-wrapper {
  transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1) 0s;
}

.main-content-wrapper {
  z-index: 2;
}

body.show-sidebar-xs {
  overflow: hidden;

  .main-navbar, .main-content-wrapper {
    transform: translateX(-250px);
  }
}

@media (min-width: 992px) {
  .main-navbar, .main-content-wrapper {
    margin-left: 0;
    animation: bodyslideout 300ms forwards;
    transform-style: preserve-3d;
    transform: none !important;
  }

  .main-sidebar {
    animation: slideout 300ms forwards;
    transform-style: preserve-3d;
  }

  body.show-sidebar-lg {
    overflow: auto;

    .main-navbar, .main-content-wrapper {
      margin-right: 250px;
    }

    .main-sidebar, .main-navbar {
      animation: slidein 300ms forwards;
      transform-style: preserve-3d;
    }

    .main-content-wrapper {
      animation: bodyslidein 300ms forwards;
      transform-style: preserve-3d;
    }
  }
}

.main-navbar {
  background-color: #FFF;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }
}

.main-sidebar {
  width: 250px;
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
  padding-bottom: 10px;
  background-color: rgb(75, 86, 101);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, .3);

  .nav-link {
    color: #fff;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 13px;

    &.active {
      background: #fff;
      color: #000;
    }
  }

  .sidebar-heading {
    color: #fff;
  }

  .drawer {
    background: #424d5a;

    .drawer-link {
      font-size: 14px;
      color: #b8b8b8;
      display: block;
      text-decoration: none;

      padding: 10px;
      border-top: 1px solid #2c3e50;

      &.active {
        color: #fff;
      }
    }
  }

  .user {
    color: #fff;
    padding: 10px 5px;
    margin: 8px 0;
    background: #34495e;

    .avatar {
      img {
        border: #fff 2px solid;
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }

      padding-left: 0;
      padding-right: 10px;

      .rtl & {
        padding-left: 10px;
      }
    }

    .username {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .title {
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.main-content-wrapper {
  background: #f8f9fa;
  position: relative;
  min-height: 100%;

  padding-bottom: 68px;
  padding-top: 68px;
}

@keyframes slidein {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}


@keyframes slideout {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

@keyframes bodyslidein {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 250px;
  }
}

@keyframes bodyslideout {
  0% {
    margin-right: 250px;
  }
  100% {
    margin-right: 0;
  }
}

$border_color: #343a40;

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $border_color;
  border: 0 none #ffffff;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: $border_color;
}

::-webkit-scrollbar-thumb:active {
  background: $border_color;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}