body {
  margin-top: 68px;
}

.mnb {
  background-color: #FFF;
  margin-right: 250px;
  padding-top: 0;
  padding-bottom: 0;
}

.mnb .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

/*main side bar*/
.msb {
  width: 250px;
  background-color: #F5F7F9;
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;

  .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
  }

  .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    background: #fff;
  }

  .navbar-nav {
    .panel {
      border: 0 none;
      box-shadow: none;
      margin: 0;
      background: inherit;
    }

    li {
      display: block;
      width: 100%;

      a {
        padding: 15px;
        color: #5f5f5f;

        .glyphicon, .fa {
          margin-right: 8px;
        }
      }
    }
  }

  .nb {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    overflow: hidden;

  }
}

ul.nv,
ul.ns {
  position: relative;
  padding: 0;
  list-style: none;
}

.nv {
  li {
    display: block;
    position: relative;

    &::before {
      clear: both;
      content: "";
      display: table;
    }

    a {
      color: #444;
      padding: 10px 25px;
      display: block;
      vertical-align: middle;

      .ic {
        font-size: 16px;
        margin-right: 5px;
        font-weight: 300;
        display: inline-block;
      }
    }
  }

  /*ns: nav-sub*/
  .ns {
    li {
      a {
        padding: 10px 50px;
      }
    }

  }

}


/*main content wrapper*/
.mcw {
  margin-right: 250px;
  position: relative;
  min-height: 100%;

  /*content view*/
  .cv {
  }
}


/*globals*/
.inbox {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    li {
      list-style: none;

      a {
        display: block;
        padding: 10px 20px;
      }
    }
  }
}

.msb, .mnb {
  animation: slidein 300ms forwards;
  transform-style: preserve-3d;
}

.mcw {
  animation: bodyslidein 300ms forwards;
  transform-style: preserve-3d;
}

body.msb-x {
  .mcw, .mnb {
    margin-left: 0;
    animation: bodyslideout 300ms forwards;
    transform-style: preserve-3d;
  }

  .msb {
    animation: slideout 300ms forwards;
    transform-style: preserve-3d;
  }
}

@keyframes slidein {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}


@keyframes slideout {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

@keyframes bodyslidein {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 250px;
  }
}

@keyframes bodyslideout {
  0% {
    margin-right: 250px;
  }
  100% {
    margin-right: 0;
  }
}


.msb {
  padding-bottom: 10px;
  background-color: rgb(75, 86, 101);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, .3);

  .nav-link {
    color: #fff;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 13px;

    &.active {
      background: #fff;
      color: #000;
    }
  }

  .sidebar-heading {
    color: #fff;
  }

  .drawer {
    background: #424d5a;

    .drawer-link {
      font-size: 14px;
      color: #b8b8b8;
      display: block;
      text-decoration: none;

      padding: 10px;
      border-top: 1px solid #2c3e50;

      &.active {
        color: #fff;
      }
    }
  }

  .user {
    color: #fff;
    padding: 10px 5px;
    margin: 8px 0;
    background: #34495e;

    .avatar {
      img {
        border: #fff 2px solid;
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }

      padding-left: 0;
      padding-right: 10px;

      .rtl & {
        padding-left: 10px;
      }
    }

    .username {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .title {
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

$border_color: #343a40;

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $border_color;
  border: 0 none #ffffff;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: $border_color;
}

::-webkit-scrollbar-thumb:active {
  background: $border_color;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}